a {
  text-decoration: none;
}

.success,.error {
  
  color: white;
  padding: 10px;
  margin: 10px 0 15px 0;
  font-size: xx-large;
  text-align: center;
}
.success{
    background: green;
}
.error{
    background: red;
}